@commercial:registry=https://code.52abp.com/api/v4/packages/npm/
//code.52abp.com/api/v4/packages/npm/:_authToken=YYijHiERLs7METdTSBRZ
//code.52abp.com/api/v4/projects/103/packages/npm/:_authToken=YYijHiERLs7METdTSBRZ
